<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516060318021-2gqrdrq29e3h6kvqgqhcmtdeebuuv150.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516060318021-2gqrdrq29e3h6kvqgqhcmtdeebuuv150</string>
	<key>API_KEY</key>
	<string>AIzaSyADtkNJdRbLtJHlGJVVQAQVa8Pw2s5HZnI</string>
	<key>GCM_SENDER_ID</key>
	<string>516060318021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lkurczab.foodscannerai</string>
	<key>PROJECT_ID</key>
	<string>calories-calculator-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>calories-calculator-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516060318021:ios:e03becf788b8859c76d62c</string>
</dict>
</plist>